<!DOCTYPE html>
<html ng-app="App">
<head>
    <title>App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--link rel="stylesheet" href="jquery-mobile-css.css"-->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap-responsive.min.css">
    <script src="jquery.js"></script>
    <!--script src="jquery-mobile.js"></script-->
    <script src="angular/angular.min.js"></script>
    <script src="firebase.js"></script>
    <script src="an.firebase.js"></script>
    <script>
        App = angular.module('App', ['firebase'])
                .value('fbURL', 'https://d3n0nc3.firebaseio.com/users')
                .factory('Pessoa', function ($firebase, fbURL) {
                    return $firebase(new Firebase(fbURL)).$asArray();
                });

        App.controller('Pessoa', function ($log, $scope, Pessoa) {
            $log.info('--Inicio--');

            var fb = new Firebase('https://d3n0nc3.firebaseio.com/users');

            $scope.Pessoa = Pessoa;

            $scope.remover = function (row) {
                $scope.Pessoa.$remove(row);
            };

            $scope.add = function () {
                fb.push({nome: $scope.nome, email: $scope.email});
                $scope.Pessoa.$add({nome: $scope.nome, email: $scope.email});
            }

            $scope.edit = function (row) {

                $scope.Pessoa.$remove(row);
                $scope.nome = row.nome;
                $scope.email = row.email;
            };

            $scope.setOrder = function (param) {
                $scope.order = param;
                $log.info($scope.order);
            };

            $log.info('--Fim--');
        });
    </script>
</head>
<body>
<div class="content-fluid" data-role="page" style="border: 1px solid #CCC; border-radius: 5px; padding: 4px;">
    <h3 data-role="header" style="text-align: center;">App Angular Firebase</h3>

    <div class="row-fluid" data-role="content" ng-controller="Pessoa">
        <input class="span2" type="text" placeholder="Filter" ng-model="search">
        <table class="table table-hover">
            <thead>
            <th><a class="btn btn-link" ng-click="order = 'nome'" href="#nome">Nome</a></th>
            <th style="width: 20px;"><a class="btn btn-link" ng-click="order = 'email'" href="#email">Email</a></th>
            <th>-</th>
            <th>-</th>
            </thead>
            <tbody>
            <tr ng-repeat="row in Pessoa | filter:search | orderBy:order">
                <td>{{ row.nome }}</td>
                <td>{{ row.email }}</td>
                <td>
                    <a href="#" class="" ng-click="edit(row)">
                        <i class="icon-edit"></i>
                    </a>
                </td>
                <td>
                    <a href="#" class="" ng-click="remover(row)">
                        <i class="icon-trash"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <form class="form-inline">
            <input class="span1" type="text" ng-model="nome" placeholder="Nome">
            <input type="email" class="span1" ng-model="email" placeholder="Email">
            <br/>
            <br/>
            <button data-role="button" class="btn btn-primary btn-block" ng-click="add()">
                <i class="icon-plus-sign icon-white"></i>
                Salvar
            </button>
        </form>
    </div>
    <div data-role="footer"></div>
</div>
</body>
</html>