<!DOCTYPE html>
<html ng-app="App">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="jquery.mobile143/jquery.mobile-1.4.3.css">
    <script src="jquery-11.min.js"></script>
    <script src="jquery.mobile143/jquery.mobile-1.4.3.min.js"></script>
    <!--script src="jquery.mobile143/jquery.mobile-1.4.3.min.map"></script-->

    <script src="angular/angular.min.js"></script>
    <script src="angular/angular-route.min.js"></script>

    <script src="firebase.js"></script>
    <script src="firebase-simple-login.js"></script>
    <script src="an.firebase.js"></script>

    <script src="ConfigAngular.js"></script>
    <script src="MainAngular.js"></script>
</head>
<body ng-app="App">
<div data-role="page" id="main" ng-controller="Main">
    <div data-role="header">
        <h3>Útil</h3>
    </div>
    <p style="text-align: center;">Olá, {{ session.email }} o que temos pra agora?</p>
    <div data-role="main" class="ui-content">
        <button class="ui-btn ui-btn-b ui-corner-all">Roubo Auto</button>
        <button class="ui-btn ui-btn-b ui-corner-all">Assalto</button>
        <button class="ui-btn ui-btn-b ui-corner-all">Trânsito</button>
        <button class="ui-btn ui-btn-b ui-corner-all">Serviço</button>
        <button class="ui-btn ui-btn-b ui-corner-all">Acidente</button>
        <button class="ui-btn ui-btn-b ui-corner-all">Achados & Perdidos</button>
        <button class="ui-btn ui-btn-b ui-corner-all">Informativo</button>
    </div>
    <div data-role="footer">
        <h6>Todos os Direitos Reservado - 2014</h6>
    </div>
</div>
<div data-role="page" id="cadastro" ng-controller="Cadastro">
    <div data-role="header">
        <h3>Útil - Cadastro</h3>
    </div>
    <div data-role="main" class="ui-content">
        Faça o seu cadastro para utilizar o aplicativo.
        <br />
        <p style="color: #ff0000; font-size: 10px; text-align: justify;">
            Importante: as suas informações não serão compartilhadas e nem acessadas por outro usuário,
            este e um aplicativo que leva muito a serio a segurança dos dados dos usuários cadastrados!
        </p>
        <br />
        <input type="email" ng-model="Pessoa.email" placeholder="Endereço de E-mail" required="">
        <input type="password" ng-model="Pessoa.senha" placeholder="Senha" required="">
        <br />
        <div style="text-align: center;" data-role="" data-type="horizontal" data-mini="true">
            <button ng-click="novoRegistro()" class="ui-shadow ui-btn ui-corner-all ui-btn-icon-left ui-icon-user ui-btn-b" data-role="">Registrar</button>
            <button ng-click="esqueciMinhaSenha()" class="ui-shadow ui-btn ui-corner-all ui-btn-icon-left ui-icon-lock ui-btn-b">Esqueci Minha Senha</button>
        </div>
    </div>
    <div data-role="footer">
        <h6>Todos os Direitos Reservado - 2014</h6>
    </div>
</div>
</body>
</html>